{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<body class="text-left">
  <div class="container">
    <main class="form-signin">
      <h1>Log in</h1>
      <p>{% blocktrans %}Don't have an account?
        <a href="{{ signup_url }}">Sign up here.</a>{% endblocktrans %}</p>
      <form class="django-login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />{% endif %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="btn-div pull-center">
          <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
        </div>
        <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <a class="btn btn-link" href="{% url 'index' %}">{% trans "Return to home." %}</a>
      </form>
    </main>
  </div>
</body>
{% endblock %}
