{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<main>
  {% if user.is_authenticated %}
  <div class="col-md-10 col-sm-12 text-center">
      <h1 class="display-2 mt-3">Welcome {{ user.username }} </h1>
      <p class="mt-3 lead">You are currently logged in.</p>
  </div>
  {% else %}
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <i style=" color:#198754" class="fas fa-dove"></i>
      <h1 class="display-5 fw-bold">Squawk</h1>
      
      <p class="col-md-8 fs-4">A social media app built by UNT students, for UNT students.</p>
      <a class="btn btn-primary btn-lg" href="{% url 'account_login' %}">Log in</a>
    </div>
  </div>
  {% endif %}
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Explore</h2>
        <p>Connect with your friends, share whats on your mind, and see what everyone is saying!</p>
        <a class="btn btn-outline-light btn-lg" href="{% url 'explore' %}">Explore</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Sign up</h2>
        <p>Don't have an account yet? Sign up and join the squawk experience!</p>
        <a class="btn btn-outline-dark btn-lg" href="{% url 'account_signup' %}"> Register</a>
      </div>
    </div>
  </div>  
</main>

{% endblock content %}

