{% extends 'home/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 px-5 pt-3">
            <div class="col-md-5 col-sm-12 border-bottom">
                <h1>User Settings</h1>
            </div>
            <div class="row mt-4">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-settings-tab" data-bs-toggle="tab" href="#nav-settings" role="tab" aria-controls="nav-settings" aria-selected="true">Profile</a>
                      <a class="nav-item nav-link" id="nav-themes-tab" data-bs-toggle="tab" href="#nav-themes" role="tab" aria-controls="nav-themes" aria-selected="false">Themes</a>
                      <a class="nav-item nav-link disabled" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Coming Soon...</a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
                        <div class="col-md-5 col-sm-5 mt-2">
                            <a href="{% url 'profile-edit' user.id %}" class="btn btn-warning"><i class="fas fa-edit"></i> Edit Profile</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-themes" role="tabpanel" aria-labelledby="nav-themes-tab">
                      <div class="mt-4">
                        <button class="btn btn-light" onclick="swapStyles('lightstyle.css')">Light Mode</button>
                        <button class="btn btn-dark" onclick="swapStyles('darkstyle.css')">Dark Mode</button>
                    </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}