{% extends 'home/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

{% block content %}
<div class="home_background" style="height: 500px; padding-top: 150px;">
    <div class="container">
        {% if user.is_authenticated %}
        <div class="col-md-10 col-sm-12 text-center">
            <h1 class="display-2">Welcome</h1>
            <p class="mt-3 lead">You have successfully logged in</p>
            <a href="{% url 'logout' %}" class="btn btn-danger mr-2">Logout</a>
        </div>
        {% else %}
        <div class="row justify-content-center mt-5">
            <div class="col-md-10 col-sm-12 text-center">
                <h1 class="display-2">Welcome to Squawk</h1>
                <p class="mt-3 lead">Connect with your friends, follow fellow classmates, and keep up to date on the latest news!</p>
                <div class="d-flex justify-content-center mt-5">
                    <a href="{% url 'account_login' %}" class="btn btn-success mr-2">Login</a>
                    <a href="{% url 'account_signup' %}" class="form__link">Don't have an account? Sign up here.</a>
                    <a href="{% url 'registration' %}" class="btn btn-dark mr-2">Test</a>
                </div>
            </div>
            <!-- This is the news section -->
            <!--<div class="col-md-10 col-sm-12 pull-left">
                <div class="pull-left">
                    <h1 class="display-10">UNT News</h1>
                    <p class="mt-2 lead">See what's happening on campus</p>
                </div>
            </div>-->
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

