<div class="nav-container">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" 
      {% if user.is_authenticated %}
      href="{% url 'post-list' %}"
      {% else %}
      href="{% url 'index' %}">
      {% endif %}
      <i class="fas fa-dove"></i> <strong>UNT</strong></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-newspaper"></i> News</a>
          </li>
          <!-- If a user is logged in, the explore page will be their social feed. 
                If a user isn't logged in, the explore page just shows all the posts made by everyone. -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'post-list' %}"><i class="fas fa-globe"></i> Explore</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'public-post-list' %}"><i class="fas fa-globe"></i> Explore</a>
          </li>
          {% endif %}
          <!-- This is the navbar that is displayed to a user who is logged in -->
        {% if user.is_authenticated %}
        {% if user != request.user %}
        {% else %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fas fa-user"></i> {{ user.username }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'profile' user.profile.pk %}"><i class="fas fa-home"></i> Home</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-bell"></i> Notifications <span class="badge badge-primary">4</span></a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-user-friends"></i> Followers</a></li>
            <li><a class="dropdown-item" href="{% url 'profile-settings' user.profile.pk %}"><i class="fas fa-user-cog"></i> Settings</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-running"></i> Log Out</a></li>
        </div>
        {% endif %}
        {% endif %}
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="@Username" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        
      </div>
    </div>
  </nav>
  </div>