{% extends 'home/base.html' %}

{% block content %}
<div class="container">
    <div class="profile-page tx-13">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="profile-header">
                    <div class="cover">
                        <div class="gray-shade"></div>
                        <figure>
                        </figure>
                        <div class="cover-body d-flex justify-content-between align-items-center">
                            <div>
                                <img src = "{{ profile.picture.url }}" class = "profile-pic" />
                                <span class="profile-name">
                                    {% if profile.name %}
                                    {{ profile.name }}
                                    {% else %}
                                    @{{ user.username }}
                                    {% endif %}
                                </span>
                                <a class="link-secondary pt-1px d-none d-md-block mt-3" href="{% url 'followers' user.profile.pk %} ">Followers: <span class="text-muted tx-12">{{ follower_count }}</span></a>
                            </div>
                            <div class="d-none d-md-block">
                                    {% if user == request.user %}
                                    {% else %}
                                    {% if is_following %}
                                    <form method="POST" action="{% url 'remove-follower' profile.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-danger btn-block btn-lg btn-block" type="submit">Unfollow</button>
                                    </form>
                                    {% else %}
                                    <form method="POST" action="{% url 'add-follower' profile.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Follow</button>
                                    </form>
                                    {% endif %}
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="header-links">
                        <!-- Add tabs in this div class block to switch between posts and media -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row profile-body">
            <!-- left wrapper start -->
            <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
                <div class="card rounded">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h6 class="card-title mb-0">About</h6>
                            {% if request.user == user %}
                                <div>   
                                    <a href="{% url 'profile-edit' profile.pk %}" class="btn btn-outline-warning" data-toggle="tooltip" data-placement="top" title="Edit Profile" style="float: right"><i class="far fa-edit"></i></a>
                                </div>
                                {% endif %}
                        </div>
                        <p>{{ profile.bio }}</p>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Birth date:</label>
                            <p class="text-muted">{{ profile.birth_date }}</p>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Lives:</label>
                            <p class="text-muted">{{ profile.location }}</p>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Major:</label>
                            <p class="text-muted">{{ profile.major }}</p>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Interests:</label>
                            <p class="text-muted">{{ profile.hobbies }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- left wrapper end -->
            <!-- middle wrapper start -->
            <div class="col-md-8 col-xl-6 middle-wrapper">
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="img-xs rounded-circle" src="{{ post.author.profile.picture.url }}" alt="">
                                        <div class="ml-2">
                                            <p>@{{ post.author }}</p>
                                            <p class="tx-11 text-muted">{{ post.date_posted }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="position-relative">
                                    <p class="mb-3 tx-14">{{ post.body }}</p>
                                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex post-actions">
                                    <div>
                                        <i class="fas fa-comment-dots"></i>
                                        {{ post.comments.count }}
                                    </div> 
                                    <form method="POST" action="{% url 'like' post.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                            <!-- Show different like icon depending on if the user liked or not -->
                                            {% if is_like == true %}
                                            <i class="fas fa-heart" style="color: #a83f39"></i>
                                            {% else %}
                                            <i class="far fa-heart" style="color: #a83f39"></i>
                                            {% endif %}
                                            <span>{{ post.likes.all.count }}</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- middle wrapper end -->
            <!-- right wrapper start -->
            <div class="d-none d-xl-block col-xl-3 right-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                        </div>
                    </div>
                </div>
            </div>
            <!-- right wrapper end -->
        </div>
    </div>
</div>
{% endblock content %}