{% extends 'home/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            {% if profile_list.count > 1 %}
            <h2>{{ profile_list.count }} Search Results for "{{ search }}"</h2>
            {% else %}
            <h2>{{ profile_list.count }} Search Result for "{{ search }}"</h2>
            {% endif %}
        </div>
    </div>
    {% for profile in profile_list %}
        <div class="row justify-content-center mt-4">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <div>
                    <a href="{% url 'profile' profile.pk %}"></a>
                    <img class="rounded-circle post-img" height="30" width="30" src="{{ profile.picture.url }}"/>
                </div>
                <div>
                    <p class="post-text">{% if profile.name %}
                        {{ profile.name }}
                        {% endif %}
                    <a style="text-decoration: none" class="text-primary" href="{% url 'profile' profile.pk %}">@{{ profile.user }}</a>
                    <span class="post-text" style="float: right">Followers: {{ profile.followers.all.count }}</span>
                    </p>
                    {% if profile.major %}
                        <p class="text-secondary">{{ profile.major }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{%  endblock %}