{% extends 'home/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <div class="col-md-5 col-sm-12 border-bottom">
                <h1>User Settings</h1>
            </div>
            <div class="row mt-4">
                <div class="col-md-5 col-sm-5">
                    <a href="{% url 'profile-edit' profile.pk %}" class="btn btn-success"><i class="fas fa-edit"></i> Edit Profile</a>
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Dark Mode
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Light Mode
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Colorblind Mode
                </label>
            </div>
        </div>
    </div>
</div>
{% endblock content %}